@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

/* Fonts */
/* Incolsolata */
@font-face {
    font-family: 'Inconsolata-Black';
    src: url('/public/fonts/Inconsolata/Inconsolata-Black.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Inconsolata-Bold';
    src: url('/public/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Inconsolata-SemiBold';
    src: url('/public/fonts/Inconsolata/Inconsolata-SemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Inconsolata-Regular';
    src: url('/public/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
    font-display: swap;
}
/* Maven Pro */
@font-face {
    font-family: 'MavenPro-Black';
    src: url('/public/fonts/Maven_Pro/MavenPro-Black.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'MavenPro-Bold';
    src: url('/public/fonts/Maven_Pro/MavenPro-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'MavenPro-SemiBold';
    src: url('/public/fonts/Maven_Pro/MavenPro-SemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'MavenPro-Medium';
    src: url('/public/fonts/Maven_Pro/MavenPro-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'MavenPro-Regular';
    src: url('/public/fonts/Maven_Pro/MavenPro-Regular.ttf') format('truetype');
    font-display: swap;
}

@theme {

    /* Custom Colors */
    --color-pf-gray1: #878EA1;
    --color-pf-gray2: #C0C4CE;
    --color-pf-gray3: #878EA1;
    --color-pf-gray4: #767E90;
    --color-pf-gray5: #333333;
    --color-pf-gray6: #E8E7EA;
    --color-pf-green: #82BC4F;
    --color-pf-peach: #FEE7DC;
    --color-pf-orange: #FF5500;
    --color-pf-orange2: #D2622E;
    --color-pf-light-orage: #FEE7DC;
    --color-pf-dark3: #2A3847;
    --color-dark: #292C34;
    --color-dark2: #1E2D3D;
    --color-pf-black: #000000;
    --color-white: #F5F5F5;


    /* Fonts Inconsolata */
    --font-Inconsolata-Black: "Inconsolata-Black", sans-serif;
    --font-Inconsolata-Bold: "Inconsolata-Bold", sans-serif;
    --font-Inconsolata-SemiBold: "Inconsolata-SemiBold", sans-serif;
    --font-Inconsolata-Regular: "Inconsolata-Regular", sans-serif;
    /* Fonts Maven Pro */
    --font-MavenPro-Black: "MavenPro-Black", sans-serif;
    --font-MavenPro-Bold: "MavenPro-Bold", sans-serif;
    --font-MavenPro-SemiBold: "MavenPro-SemiBold", sans-serif;
    --font-MavenPro-Medium: "MavenPro-Medium", sans-serif;
    --font-MavenPro-Regular: "MavenPro-Regular", sans-serif;

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Global CSS */
@layer base{
    html{
        @apply scroll-smooth;
    }
}

/* Custom CSS */
@layer components{
    .sub-heading p{
        @apply text-pf-orange
    }
    .sub-heading p strong{
        @apply text-pf-black dark:text-white
    }

    .hero-desc strong{
        @apply text-pf-orange;
    }

    .bg-bodywhite {
        background-image: url('https://portfolio.test/images/background.png');
        /* height: 100vh; */
    }

    .dark body .bg-bodydark {
        background-image: url('https://portfolio.test/images/background-dark.png');
        /* height: 100vh; */
    }

    .project-desc p{
        margin-bottom: 0.5rem;
    }

    /* lightbox close btn */
    .lb-data .lb-close {
        position: absolute;
        top: -30px;
        right: 30px;
    }

    .experience-wrapper .description ul{
        margin-bottom: 0.5rem;
    }
    .experience-wrapper .description ul li{
        font-family: 'MavenPro-Regular';
    }

}
