@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

/* Fonts */
/* Incolsolata */
@font-face {
    font-family: 'Inconsolata-Black';
    src: url('/public/fonts/Inconsolata/Inconsolata-Black.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Inconsolata-Bold';
    src: url('/public/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Inconsolata-Regular';
    src: url('/public/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
    font-display: swap;
}
/* Maven Pro */
@font-face {
    font-family: 'MavenPro-Black';
    src: url('/public/fonts/Maven_Pro/MavenPro-Black.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'MavenPro-Bold';
    src: url('/public/fonts/Maven_Pro/MavenPro-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'MavenPro-Medium';
    src: url('/public/fonts/Maven_Pro/MavenPro-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'MavenPro-Regular';
    src: url('/public/fonts/Maven_Pro/MavenPro-Regular.ttf') format('truetype');
    font-display: swap;
}

@theme {
    --backgroundImage: {
        'body-bg': "url('/images/background.png')",
    }

    /* Custom Colors */
    --color-gray: #878EA1;
    --color-gray2: #C0C4CE;
    --color-dark: #292C34;

    /* Fonts Inconsolata */
    --font-Inconsolata-Black: "Inconsolata-Black", sans-serif;
    --font-Inconsolata-Bold: "Inconsolata-Bold", sans-serif;
    --font-Inconsolata-Regular: "Inconsolata-Regular", sans-serif;
    /* Fonts Maven Pro */
    --font-MavenPro-Black: "MavenPro-Black", sans-serif;
    --font-MavenPro-Bold: "MavenPro-Bold", sans-serif;
    --font-MavenPro-Medium: "MavenPro-Medium", sans-serif;
    --font-MavenPro-Regular: "MavenPro-Regular", sans-serif;

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
